BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG I2C_PORT=DISABLE SDM_PORT=DONE SLAVE_SPI_PORT=DISABLE ;
IOBUF PORT "led_o" IO_TYPE=LVCMOS33 ;
FREQUENCY NET "s_clk_sys" 53.200000 MHz ;
LOCATE COMP "led_o" SITE "107" ;
LOCATE COMP "dac_clkn_o" SITE "127" ;
LOCATE COMP "dac_clkp_o" SITE "128" ;
IOBUF PORT "dac_clkp_o" IO_TYPE=LVCMOS33 DIFFDRIVE="NA" ;
IOBUF PORT "dac_clkn_o" IO_TYPE=LVCMOS33 DIFFDRIVE="NA" ;
LOCATE COMP "dac_o[0]" SITE "111" ;
LOCATE COMP "dac_o[1]" SITE "112" ;
LOCATE COMP "dac_o[2]" SITE "113" ;
LOCATE COMP "dac_o[3]" SITE "114" ;
LOCATE COMP "dac_o[4]" SITE "115" ;
LOCATE COMP "dac_o[5]" SITE "117" ;
LOCATE COMP "dac_o[6]" SITE "121" ;
LOCATE COMP "dac_o[7]" SITE "122" ;
IOBUF PORT "dac_o[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_o[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_ch1_clk0_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_ch1_clk2_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "adc_ch1_clk0_i" SITE "55" ;
LOCATE COMP "adc_ch1_clk2_i" SITE "56" ;
LOCATE COMP "spi_miso_o" SITE "125" ;
LOCATE COMP "spi_sck_i" SITE "126" ;
LOCATE COMP "spi_csn_i" SITE "140" ;
LOCATE COMP "spi_mosi_i" SITE "139" ;
IOBUF PORT "spi_miso_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_sck_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_csn_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_mosi_i" IO_TYPE=LVCMOS33 ;
